.catalog {
  @include container;
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 79px;
    padding-left: 5px;
  }
}
