.catalog-item {
  margin-top: 30px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    display: flex;
    border: 1px solid #ececec;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {

    flex-direction: column;
    width: 316px;

    picture {
      height: 462px;
    }

    margin-right: 50px;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.catalog-item__description {
  height: 179px;
  border: 1px solid #ececec;
  background-color: $background-color;
  padding-left: 28px;
  padding-right: 32px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
    border: none;
  }
}

.catalog-item__name {
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog-item__features {
  display: block;
  border-bottom: 1px solid #ececec;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 175px;
  }
}

.catalog-item__price {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.catalog-item__buy {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  justify-content: space-between;


}

.catalog-item__description--big {
  height: 204px;
}

.catalog-item__features--big-name {
  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
  }
}

.catalog-item__buy-icon use {
  fill: #d3d2d2;

  &:hover {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}
