.catalog-item {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {

    flex-direction: column;
    width: 315px;
    padding-right: 50px;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.catalog-item__description {
  height: 197px;
  border: 1px solid #ececec;
  background-color: $background-color;
  padding-left: 28px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.catalog-item__name {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-item__features {
  display: block;
  border-bottom: 1px solid #ececec;
  padding-bottom: 30px;
}

.catalog-item__price {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 27px;
}

.catalog-item__buy {
  position: relative;
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-between;
}

.catalog-item__price::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("/img/icon-cart.svg");
  position: absolute;
  right: 30px;
  bottom: 25px;
}
