.catalog-item {
  margin-top: 30px;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active,
  &:focus {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  @media (min-width: $tablet-width) {
    @include container;
    display: flex;
    margin-top: 48px;
    margin-left: 6px;
    align-items: stretch;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-width: 30%;

    margin-right: 50px;
    margin-top: 51px;
    margin-left: 0;
    padding-bottom: 0;
  }

  &:last-child {
    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  picture {

    background-color: #f1f1f1;
    box-sizing: border-box;
    min-height: 195px;

    @media (min-width: $tablet-width) {
      min-height: 334px;
    }

    @media (min-width: $desktop-width) {
      min-height: 462px;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.catalog-item__name-link {
  text-decoration: none;
  color: #000000;
}

.catalog-item__description {
  min-height: 151px;
  background-color: $background-color;
  padding-left: 28px;
  padding-right: 25px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 50%;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog-item__name {
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 14px;
  }


  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
    outline: none;
  }
}

.catalog-item__features {
  display: block;
  border-bottom: 1px solid #ececec;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 179px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 43px;
  }
}

.catalog-item__price {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding-left: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.catalog-item__buy {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 24px;
  box-sizing: border-box;
  justify-content: space-between;
}

.catalog-item__description--big {
  min-height: 176px;

  .catalog-item__name {
    @media (min-width: $tablet-width) {
      padding-right: 65px;
    }
  }
}

.catalog-item__features--big-name {
  @media (min-width: $tablet-width) {
    padding-bottom: 158px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 20px;
  }
}

.catalog-item__buy-icon {
  @media (min-width: $tablet-width) {
    padding-right: 7px;
  }

  use {
    fill: #d3d2d2;

    &:hover {
      fill: $accent-color;
    }

    &:active,
    &:focus {
      opacity: 0.3;
      outline: none;
    }
  }
}
