.form {
  padding-top: 22px;
  padding-bottom: 55px;
  padding-left: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 24px;
    margin: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 123px;
    padding-left: 0;
    padding-bottom: 21px;
  }
}

.form__text {
  color: $text-color;
  font-family: $font-family;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;

  @include container;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding-left: 10px;
    line-height: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    padding-left: 0;
    padding-right: 3px;
  }
}

.form__field {
  border: none;

  @include container;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) {
      background-color: #ececec;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      background-color: $background-color;
    }
  }
}

.form__name {
  margin-top: 23px;
  margin-left: 0;
  position: relative;
  color: $accent-color;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 56px;
    width: 11%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: $accent-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__filter-list {
  @include list-style-reset;
  margin-top: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    margin-bottom: 20px;
    margin-left: 91px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.form__field--color .form__filter-list {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;
    margin-left: 80px;
    margin-bottom: 14px;
    width: 74%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-left: 5px;
    width: 78%;
  }


  .form__filter:nth-child(odd) {
    @media (min-width: $tablet-width) {
      width: 52%;
    }

    @media (min-width: $desktop-width) {
      width: 31%;
    }
  }

  .form__filter:nth-child(even) {
    @media (min-width: $tablet-width) {
      width: 47%;
    }

    @media (min-width: $desktop-width) {
      width: 31%;
    }
  }
}

.form__field--color {
  .form__name {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 52px;
    }
  }
}

.form__filter {
  height: 61px;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.form__filter input[type="radio"],
.form__filter input[type="checkbox"] {
  display: none;
}

.form__label {
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  line-height: 18px;
  padding: 19px 0 11px 62px;

  @media (min-width: $tablet-width) {

    padding: 25px 0 11px 84px;
    letter-spacing: 1.4px;
  }

  @media (min-width: $desktop-width) {

    padding-top: 29px;
  }
}

.form__field--type .form__label,
.form__field--color .form__label {
  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 35px;
    left: 2px;
    top: 2px;
    border: 2px solid #444444;

    @media (min-width: $tablet-width) {
      width: 48px;
      height: 48px;
    }
  }

  &:hover::before {
    border: 2px solid $accent-color;
  }

  &:active::before {
    border: 2px solid #cacaca;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 14px;
    top: 21px;
    background-color: #63d1bb;
    border-radius: 50%;
    display: none;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
      left: 18px;
      top: 26px;
    }
  }
}

.form__field--color .form__label {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding: 17px 0 0 80px;
    line-height: auto;
  }
}

.form__field--type .form__label::before {
  border-radius: 50%;
  top: 10px;

  @media (min-width: $tablet-width) {
    top: 10px;
  }
}

.form__field--color .form__label::after {
  height: 48px;
  width: 48px;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  left: 5px;
  top: 5px;

  @media (min-width: $tablet-width) {
    left: 10px;
    top: 15px;
  }
}

input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
  display: block;
}


.form__contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    padding-top: 25px;
  }

  input[type="text"] {
    border: none;
    height: 55px;
    padding: 0;
    box-shadow: inset 0 -2px 0 #000000;

    &:hover {
      box-shadow: inset 0 -2px 0 #62d1ba;
    }

    &:active {
      box-shadow: inset 0 -2px 0 #62d1ba;
    }

    @media (min-width: $tablet-width) {
      width: 100%;
      height: 50px;
      margin-left: 25px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      margin-left: 22px;
    }
  }
}

.form__contacts-list {
  .form__contacts:last-child .form__contacts-label {
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 71%;
    flex-grow: 0;
    padding-left: 8px;
  }

  .form__contacts:first-child {
    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }
}

.form__contacts-label {
  margin-top: 30px;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-top: 17px;
    line-height: 11px;
  }
}

input::placeholder {
  color: #cecece;
  font-family: $font-family;
  font-size: 16px;
  padding-left: 0;
  margin: 0;
  font-weight: normal;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    padding-left: 10px;
  }
}

input[type="tel"],
input[type="email"] {
  border: none;
  height: 57px;
  box-shadow: inset 0 -2px 0 #000000;
  width: 100%;

  &:hover {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }

  &:active {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }
}

.form__name--tel,
.form__name--email,
.form__name--else {
  margin-top: 33px;
}

.form__name--email {
  margin-top: 31px;

  &::after {
    left: 80px;
    width: 181px;
  }
}

.form__message {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 24px;
  height: 142px;
  border: 2px solid $text-color;
  background-color: $background-color;

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:active {
    border: 2px solid #62d1ba;
  }

  @media (min-width: $tablet-width) {
    width: 73%;
    margin-top: 15px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 71%;
    flex-grow: 0;
  }

  &::placeholder {
    color: #cecece;
    font-family: $font-family;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
  }
}

.form__etc {
  margin-top: 15px;
  margin-bottom: 32px;
  color: $text-color;
  font-family: $font-family;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 17px;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
    margin-left: 170px;
  }
}

.form__btn {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 114px;
    margin-top: 51px;
  }
}

.form__field--contacts,
.form__field--tel,
.form__field--email,
.form__field--else {
  .form__name {
    @media (min-width: $tablet-width) {
      width: 25%;
    }

    @media (min-width: $desktop-width) {
      width: 11%;
    }
  }

  input[type="tel"],
  input[type="email"] {
    @media (min-width: $tablet-width) {
      width: auto;
      flex-grow: 1;
      margin-top: 10px;
    }

    @media (min-width: $desktop-width) {
      flex-grow: 0;
      width: 71%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 38px;
  }
}

.form__field--contacts {
  .form__name {
    margin-top: 10px;

    @media (min-width: $tablet-width) {
      margin-top: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 37px;
    padding-right: 38px;
  }
}

.form__field--tel {
  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }

  .form__field-container {
    @media (min-width: $tablet-width) {
      padding-top: 32px;
      padding-bottom: 8px;
    }
  }
}

.form__field--email {
  @media (min-width: $tablet-width) {
    background-color: #ececec;
  }

  .form__field-container {
    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 48px;
    }
  }
}

.form__field-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-left: 61px;
  }

  & > input,
  & > textarea {
    @media (min-width: $desktop-width) {
      margin-left: 8px;
    }
  }
}

.form__field--else {
  @media (min-width: $tablet-width) {
    margin-top: 19px;
  }

  .form__field-container {
    @media (min-width: $tablet-width) {
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      justify-content: initial;
    }
  }
}
