.form {
  padding-top: 30px;
  padding-bottom: 55px;
}

.form__text {
  color: $text-color;
  font-family: $font-family;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    width: 670px;
    margin-left: 175px;
  }
}

.form__field {
  border: none;
}

.form__name {
  margin-top: 30px;
  position: relative;
  color: $accent-color;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {

    width: 100px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 80px;
    width: 180px;
    height: 1px;
    background-color: $accent-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__filter-list {
  @include list-style-reset;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    height: 130px;
  }
}

.form__filter {
  height: 65px;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: 65px;
  }
}

.form__filter input[type="radio"],
.form__filter input[type="checkbox"] {
  display: none;
}

.form__label {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  line-height: 18px;
  padding: 11px 0 11px 62px;
}

.form__field--type .form__label,
.form__field--color .form__label {
  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    left: 0;
    top: 0;
    border: 2px solid #444444;
  }

  &:hover::before {
    border: 2px solid $accent-color;
  }

  &:active::before {
    border: 2px solid c7c7c7;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 13px;
    top: 13px;
    background-color: #63d1bb;
    border-radius: 50%;
    display: none;
  }
}

.form__field--type .form__label::before {
  border-radius: 50%;
}

.form__field--color .form__label::after {
  height: 36px;
  width: 36px;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  left: 10px;
  top: 10px;
}

input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after {
  display: block;
}


.form__contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
  }

  input[type="text"] {
    border: none;
    height: 52px;
    box-shadow: inset 0 -2px 0 #000000;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }
}

.form__contacts-list {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}


.form__contacts-label {
  margin-top: 20px;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

input::placeholder {
  color: #cecece;
  font-family: $font-family;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
}

input[type="tel"],
input[type="email"] {
  border: none;
  height: 52px;
  box-shadow: inset 0 -2px 0 #000000;
  width: 100%;
}

.form__message {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  height: 142px;
  border: 2px solid $text-color;
  background-color: $background-color;

  @media (min-width: $tablet-width) {
    width: 500px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }

  &::placeholder {
    color: #cecece;
    font-family: $font-family;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
  }
}

.form__etc {
  margin-bottom: 35px;
  color: $text-color;
  font-family: $font-family;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-top: 70px;
  }
}

.form__btn {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 165px;
  }
}

.form__field--contacts,
.form__field--tel,
.form__field--email,
.form__field--else {
  .form__name {
    @media (min-width: $tablet-width) {
      width: 165px;
    }
  }

  input[type="tel"],
  input[type="email"] {
    @media (min-width: $tablet-width) {
      width: auto;
      flex-grow: 1;
    }
  }
}

.form__field-container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__field--else .form__field-container {
  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}
