.form {
  padding-top: 22px;
  padding-bottom: 55px;
  padding-left: 2px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 24px;
    margin: 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 123px;
    padding-left: 0;
    padding-bottom: 21px;
  }
}

.form__text {
  color: $text-color;
  font-family: $font-family;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;

  @include container;
  padding-left: 32px;
  padding-right: 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    padding: 0;
    padding-left: 5px;
    line-height: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    padding-left: 0;
    padding-right: 3px;
  }
}

.form__field {
  border: none;

  @include container;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: $background-color;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    max-width: none;
    width: 100%;
  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) {
      background-color: #f1f1f1;
    }
  }

  &:last-child {
    @media (min-width: $tablet-width) {
      background-color: $background-color;
    }
  }
}

.form__name {
  margin-top: 23px;
  margin-left: 0;
  position: relative;
  color: $accent-color;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 25%;
  }

  @media (min-width: $desktop-width) {
    width: 11%;
  }


  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: $accent-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}


.form__name--color,
.form__name--type {
  @media (min-width: $tablet-width) {
    margin-top: 56px;
    width: 11%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
    width: 10%;
  }
}

.form__name--color {
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
  }
}

.form__name--tel {
  margin-top: 31px;
}

.form__name--email,
.form__name--else {
  margin-top: 33px;
}


.form__name--email,
.form__name--tel {
  position: relative;
  display: flex;
  flex-direction: column;


  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    margin-top: 0;
  }

  span {
    @media (min-width: $tablet-width) {
      padding-top: 33px;
      width: 164px;
    }

    @media (min-width: $desktop-width) {
      width: 115px;
    }
  }
}

.form__name--email::after {
  left: 81px;
  width: 180px;
}

.form__name--email-icon,
.form__name--tel-icon {
  content: "";
  position: absolute;
  right: 5px;
  top: 11px;
  bottom: 0;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    right: 25px;
    top: 25px;
    max-width: 35px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    right: 240px;
  }

  use {
    fill: #333333;
  }
}

.form__name--contacts {
  margin-top: 10px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 28px;
  }
}

.form__filter-list {
  @include list-style-reset;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    margin-bottom: 20px;
    margin-left: 91px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.form__filter-list--color {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;
    margin-left: 90px;
    margin-bottom: 14px;
    width: 73%;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-left: 7px;
    width: 73%;
  }
}

.form__filter {
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.form__filter input[type="radio"],
.form__filter input[type="checkbox"] {
  margin-top: 5px;
  width: 3px;
  z-index: -1;
}

.form__filter--color {
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
  }
}

.form__filter--color:nth-child(odd) {
  @media (min-width: $tablet-width) {
    width: 52%;
  }

  @media (min-width: $desktop-width) {
    width: 31%;
  }
}

.form__filter--color:nth-child(even) {
  @media (min-width: $tablet-width) {
    width: 46%;
  }

  @media (min-width: $desktop-width) {
    width: 31%;
  }
}


.form__label {
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  margin: 0;
  line-height: 17px;
  padding: 15px 0 11px 62px;

  @media (min-width: $tablet-width) {

    padding: 29px 0 17px 79px;
    letter-spacing: 1.1px;
  }

  @media (min-width: $desktop-width) {

    padding-top: 29px;
    padding-left: 57px;
    letter-spacing: 1.1px;
  }
}

.form__label--type,
.form__label--color {
  &::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 35px;
    left: 2px;
    top: 2px;
    border: 2px solid #444444;

    @media (min-width: $tablet-width) {
      width: 48px;
      height: 48px;
    }
  }

  &:hover::before {
    border: 2px solid $accent-color;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    left: 14px;
    top: 21px;
    background-color: $accent-color;
    border-radius: 50%;
    display: none;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
      left: 18px;
      top: 26px;
    }
  }
}

.form__label--color {
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding: 17px 0 0 80px;
    line-height: auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 54px;
  }
}

.form__label--type::before {
  border-radius: 50%;
  top: 8px;

  @media (min-width: $tablet-width) {
    top: 10px;
  }
}

.form__label--color::after {
  height: 48px;
  width: 48px;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  left: 5px;
  top: 5px;

  @media (min-width: $tablet-width) {
    left: 10px;
    top: 15px;
  }
}

.form__control--checkable:checked + label::after {
  display: block;
}

.form__control--checkable:active + label::before,
.form__control--checkable:focus + label::before,
.form__control--checkable:disabled + label::before {
  border: 2px solid #cacaca;
  outline: none;
}

.form__contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    padding-top: 24px;
  }
}

.form__control--textfield {
  border: none;
  padding: 0;
  margin-top: 3px;
  min-height: 50px;
  line-height: 50px;
  box-shadow: inset 0 -2px 0 #000000;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-left: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-left: 22px;
  }
}

.form__contacts-list {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 66%;
    flex-grow: 0;
    padding-left: 0;
  }
}

.form__contacts--name {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 3px;
  }
}

.form__contacts-label {
  margin-top: 22px;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-top: 25px;
    line-height: 11px;
  }
}

.form__contacts--name .form__contacts-label {
  margin-top: 25px;
}

.form__contacts-label--patron {
  margin-top: 20px;
}

.form__contacts-label--patron + .form__control--textfield {
  @media (min-width: $tablet-width) {
    padding-left: 17px;
  }
}

.form__control {
  box-sizing: border-box;
  padding-left: 0;
  background: none;
  font-size: 19px;

  &:hover {
    box-shadow: inset 0 -2px 0 $accent-color;
  }

  &:active,
  &:focus {
    box-shadow: inset 0 -2px 0 $accent-color;
    outline: none;
  }


  @media (min-width: $tablet-width) {
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 25px;
  }

  &::placeholder {
    color: #cecece;
    font-family: $font-family;
    font-size: 16px;
    padding-left: 0;
    margin: 0;
    letter-spacing: 0.7px;
    font-weight: normal;

    @media (min-width: $tablet-width) {
      font-size: 19px;
    }
  }
}

.form__control--email,
.form__control--phone {
  position: relative;
  border: none;
  height: 57px;
  padding-right: 40px;
  box-shadow: inset 0 -2px 0 #000000;
  width: 100%;


  &:hover ~ svg > .form__field-icon--fill,
  &:active ~ svg > .form__field-icon--fill,
  &:focus ~ svg > .form__field-icon--fill {
    fill: $accent-color;
    opacity: 1;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    flex-grow: 1;
    margin-top: 10px;
    padding-left: 17px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    margin-left: 0;
    padding-left: 10px;
    width: 700px;
  }
}

.form__control--message {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 19px;
  min-height: 142px;
  border: 2px solid $text-color;
  background-color: $background-color;

  &:hover {
    border: 2px solid $accent-color;
  }

  &:active,
  &:focus {
    border: 2px solid $accent-color;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 73%;
    margin-top: 15px;
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    flex-grow: 0;
    margin-left: 0;
  }

  &::placeholder {
    color: #cecece;
    font-family: $font-family;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
}

.form__control--phone::placeholder {
  letter-spacing: 1.3px;
}

.form__etc {
  margin-top: 15px;
  margin-bottom: 32px;
  color: $text-color;
  font-family: $font-family;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 17px;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 67px;
    margin-left: 170px;
  }
}

.form__btn {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-top: 55px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 114px;
    margin-top: 51px;
  }
}

.form__field-container {
  @media (min-width: $tablet-width) {
    display: flex;

    @include container;
    flex-direction: row;
    padding: 16px 0;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-left: 61px;
  }
}


.form__field--contacts {
  @media (min-width: $tablet-width) {
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
  }


  .form__field-container {
    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }
}

.form__field--tel {
  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }

  .form__field-container {
    @media (min-width: $tablet-width) {
      padding-top: 35px;
      padding-bottom: 8px;
    }
  }
}

.form__field--email {
  @media (min-width: $tablet-width) {
    background-color: #f1f1f1;
    padding: 0 50px;
  }

  .form__field-container {
    @media (min-width: $tablet-width) {
      padding-top: 0;
      padding-bottom: 48px;
    }
  }
}

.form__field--else {
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
  }

  .form__field-container {
    @media (min-width: $tablet-width) {
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-start;
    }
  }
}
