.intro {
  @include container;
}

.intro__title {
  font-family: $font-family;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

.intro__list {
  list-style: none;
}

.intro__item {
  color: #000000;
  font-weight: 700;
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {

  .intro__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;

  }

  .intro__item {
    display:flex;
    flex-direction: column;
    width: 235px;
  }


}

@media (min-width: $desktop-width) {

  .intro__wrapper {
    @include index-content-margins;
  }
}
