.main-nav {
  background: $background-color;

  @include container;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: none;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    padding: 0;
  }
}

.main-nav--with-bg {
  @media (min-width: $tablet-width) {
    background: #f1f1f1;
  }
}

.main-nav__toggle {
  background: none;
  position: absolute;
  right: 29px;
  top: 8px;

  border: none;
  cursor: pointer;
  width: 21px;
  height: 14px;
  z-index: 2;

  &:active {
    border: none;
    outline: none;
  }

  &:focus {
    outline: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed {
  .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 2px;
    background-color: #221f1f;
    box-shadow: 0 8px 0 0 #221f1f, 0 16px 0 0 #221f1f;
  }

  .main-nav__list-item,
  .main-nav__uitem {
    @media (max-width: $mobile-width-only) {
      display: none;
      height: 0;
    }
  }

  .main-nav__list,
  .main-nav__user-list {
    @media (max-width: $mobile-width-only) {
      display: none;
      height: 0;
    }
  }
}

.main-nav--opened {
  .main-nav__toggle {
    right: 0;
    top: -20px;

    &::before,
    &::after {
      content: "";
      top: 0;
      right: 0;
      position: absolute;
      width: 21px;
      height: 2px;
      background-color: #221f1f;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav__list-item,
  .main-nav__uitem {
    @media (max-width: $mobile-width-only) {
      display: block;
    }
  }
}

.main-nav__list {
  @include list-style-reset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    order: 2;
    width: 50%;
    justify-content: flex-start;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 46%;
    flex-wrap: wrap;
  }
}

.main-nav__list-item-link {
  display: block;
  padding-left: 76px;
  padding-top: 31px;
  padding-bottom: 31px;
  box-sizing: border-box;
  align-items: center;
  color: #000000;
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
    color: #000000;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 17px;
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 31px;
    padding-top: 31px;
    font-size: 17px;
    padding-bottom: 33px;
    padding-left: 0;
  }
}

.main-nav__list-item-link--catalog {
  @media (min-width: $desktop-width) {
    padding-right: 35px;
    border-right: 1px solid #ececec;
  }
}

.main-nav__list-item-link--new,
.main-nav__list-item-link--sell {
  @media (min-width: $desktop-width) {
    font-size: 15px;
    padding-top: 15px;
    margin-top: 8px;
    height: 88px;
  }
}

.main-nav__list-item-link--order {
  @media (min-width: $desktop-width) {
    padding-left: 35px;
  }
}

.main-nav__list-item-link--new {
  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.main-nav__list-item-link--sell {
  @media (min-width: $desktop-width) {
    background: none;
    padding-left: 31px;
  }
}

.main-nav__list-item {
  width: 100%;
  height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet-width) {
    height: 79px;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 83px;
  }

  &:nth-child(3),
  &:nth-child(4) {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      border: none;
    }
  }
}

.main-nav__user-list {
  @include list-style-reset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    background: $background-color;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 79px;
    order: 2;
    flex-grow: 1;
    padding-left: 15px;
    border-bottom: none;
  }
}

.main-nav__uitem {
  width: 100%;
  height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  background: $background-color;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 21px;
    height: 67px;
    box-shadow: none;
    background: $background-color;
    border-left: 1px solid #ececec;
  }

  @media (min-width: $desktop-width) {
    padding-top: 31px;
    height: 57px;
  }
}

.main-nav__uitem-icon use {
  fill: #d3d2d2;
}

.main-nav__uitem-link {
  display: block;
  padding-left: 32px;
  padding-top: 31px;
  padding-bottom: 31px;
  box-sizing: border-box;
  align-items: center;
  color: #000000;
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
  }

  &:hover {
    opacity: 0.6;
    color: #000000;

    use {
      fill: #6dd4bf;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.main-nav__uitem-link--cart {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 31px;
  }
}

.main-nav__uitem-icon {
  padding-right: 25px;
  width: 18px;
  height: 19px;

  @media (min-width: $tablet-width) {
    padding-right: 0;
  }
}

.main-nav__uitem-search {
  span {
    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      width: 13%;
    }
  }

  a {
    @media (min-width: $desktop-width) {
      padding-top: 5px;
    }
  }
}

.main-nav__uitem-cart {
  @media (min-width: $desktop-width) {
    width: 48%;
  }

  .main-nav__uitem-icon {
    @media (min-width: $tablet-width) {
      padding-right: 7px;
      padding-top: 3px;
      width: 21px;
      height: 18px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  span {
    @media (min-width: $tablet-width) {
      padding-left: 25px;
      font-size: 17px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 30px;
    }
  }

  a {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
