.manufactured {
  border: 1px solid #ececec;
  background-color: $background-color;

  @include container;
  margin-top: 30px;
  margin-bottom: 58px;
}

.manufactured__title-container {
  padding-left: 34px;
  display: flex;
}

.manufactured__img-camera {
  margin-right: 25px;
  width: 32px;
}

.manufactured__title {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.manufactured__content {
  padding-left: 34px;
}

.manufactured__text {

  padding: 34px 43px 29px 0;
  font-family: $font-family;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color;
}

.manufactured__ordered {
  width: 192px;
  display: block;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .manufactured {
    margin-top: 53px;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
  }

  .manufactured__title-container {
    order: 2;
  }

  .manufactured__video {
    order: 1;
  }

  .manufactured__content {
    order: 3;
  }

  .manufactured__text {
    padding-right: 130px;
  }
}

@media (min-width: $desktop-width) {
  .manufactured {
    align-items: flex-end;
    position: relative;
  }

  .manufactured__title-container {
    flex-direction: column;
    padding-left: 0;
    width: 30%;
  }

  .manufactured__title {
    width: 150px;
  }

  .manufactured__content {
    width: 30%;
  }

  .manufactured__video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .manufactured__ordered {
    margin-bottom: 60px;
    width: 230px;
  }

  .manufactured__text {
    padding-right: 60px;
  }
}
