.manufactured {

  background-color: $background-color;

  @include container;
  margin-bottom: 57px;
  margin-top: 31px;
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-top: 51px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    padding-left: 7px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    position: relative;
    min-height: 455px;
    margin-top: 50px;
    padding-right: 0;
    padding-left: 9px;
    padding-top: 7px;

    margin-bottom: 105px;
  }
}

.manufactured__title-container {

  box-sizing: border-box;
  padding-left: 35px;
  border: 1px solid #ececec;
  border-bottom: none;
  padding-bottom: 23px;
  display: flex;

  @media (min-width: $tablet-width) {
    order: 2;

    @include container;
    margin-top: -2px;
    border-top: 1px solid #ececec;
    padding-left: 42px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin: 0;
    height: auto;
    width: 35%;
    border-left: none;
    padding-left: 73px;
    padding-top: 17px;
  }
}

.manufactured__img-camera {
  margin-right: 25px;
  min-width: 32px;

  padding-top: 28px;
  fill: $accent-color;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding-left: 9px;
    padding-top: 24px;
  }
}

.manufactured__title {
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-top: 22px;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.5px;
    font-size: 20px;
    margin-top: 28px;
    margin-left: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 150px;
    font-size: 20px;
    margin-top: 22px;
  }
}

.manufactured__video {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 101px;
    height: 77px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -40px;
    background-image: url("/img/icon-play.svg");
    background-repeat: no-repeat;
    cursor: pointer;

    @media (min-width: $tablet-width) {

      margin-top: -38px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -50px;
      margin-top: -38px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 1;

    @include container;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    max-width: none;
    position: absolute;
    top: 7px;
    left: 7px;

    &:hover::before {
      transform: scale(1.2);
      transition: all 0.2s;
    }
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
    transition: all 0.2s;
  }
}

.manufactured__content {
  padding-left: 35px;
  border: 1px solid #ececec;
  border-top: none;
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    order: 3;

    @include container;
    margin-top: 0;

    padding-left: 40px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
    border-left: none;
    padding-left: 0;
    margin: 0;
  }
}

.manufactured__text {

  padding: 23px 41px 25px 1px;

  font-family: $font-family;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 59px;
    padding-left: 82px;
    padding-top: 10px;
    padding-bottom: 45px;
  }
}

.manufactured__ordered {
  width: 192px;
  display: block;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    width: 582px;
    margin-right: 43px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
    margin-left: 81px;
    width: 230px;
  }
}
