.manufactured {
  border: 1px solid #ececec;
  background-color: $background-color;

  @include container;
  margin-top: 30px;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-top: 53px;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    position: relative;
    min-height: 455px;
  }
}

.manufactured__title-container {
  padding-left: 34px;
  display: flex;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-left: 0;
    width: 30%;
  }
}

.manufactured__img-camera {
  margin-right: 25px;
  min-width: 32px;
}

.manufactured__title {
  font-family: $font-family;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    width: 150px;
  }
}

.manufactured__video {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 101px;
    height: 77px;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -35px;
    background-image: url("/img/icon-play.svg");
    background-repeat: no-repeat;
    cursor: pointer;


    @media (min-width: $desktop-width) {
      margin-left: -45px;
      margin-top: -40px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;

    &:hover::before {
      transform: scale(1.2);
      transition: all 0.2s;
    }
  }

  &:active::before {
    transform: scale(0.8);
    opacity: 0.3;
    transition: all 0.2s;
  }
}

.manufactured__content {
  padding-left: 34px;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
  }
}

.manufactured__text {

  padding: 34px 43px 29px 0;
  font-family: $font-family;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color;

  @media (min-width: $tablet-width) {
    padding-right: 130px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 60px;
  }
}

.manufactured__ordered {
  width: 192px;
  display: block;
  margin-bottom: 33px;

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    width: 230px;
  }
}
