.nav {

   position: relative;

  @media (min-width: $tablet-width) {
    @include container;
    margin: -5px auto;
    padding-left: 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: auto;
    margin: 0;
    padding-left: 8px;
  }


}

.nav__list {
  @include list-style-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    @include container;
  }
}

.nav__item {
  height: 104px;
  display: flex;
  justify-content: space-between;


  @media (min-width: $tablet-width) {
    width: 50%;
    height: 117px;
    padding-left: 36px;
    padding-right: 36px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {

    height: 117px;

    box-sizing: border-box;
  }
  svg {
    padding-right: 4px;
    @media (min-width: $tablet-width) {
      padding-right: 0px;
    }
    @media (min-width: $desktop-width) {
      padding-top: 21px;
    }

  }
}

.nav__item--interior {
  background-color: #63d1bb;

  @media (min-width: $desktop-width) {
    &:hover {
      position: relative;
      bottom: 5px;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        left: 0;
        bottom: -5px;
        background-color: #63d1bb;
      }
    }

  }
}

.nav__item--toys {
  background-color: #56c3b2;
  svg {
    padding-left: 10px;
    padding-right: 0;
    @media (min-width: $tablet-width) {
      padding-left: 0;
    }
  }
  @media (min-width: $desktop-width) {
    &:hover {
      position: relative;
      bottom: 5px;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 5px;
        left: 0;
        bottom: -5px;
        background-color: #56c3b2;
      }
    }
  }
}

.nav__item a {
  @media (max-width: $mobile-width-only) {
    @include container;
    align-items: flex-start;
    padding-top: 26px;
    line-height: 24px;
    letter-spacing: -0.5px;
  }
  text-decoration: none;
  color: $background-color;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
    width: 100%;

  }

  @media (min-width: $desktop-width) {
    padding-bottom: 17px;

  }
}

.nav__item-text {
  display: inline-block;
  width: 50%;
  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
  @media (min-width: $desktop-width) {

    padding-top: 15px;
    width: 30%;
  }
}
