.page-footer {
  padding: 25px 0;
  box-sizing: border-box;
  min-height: 160px;
  background-color: #f1f1f1;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-left: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer__wrapper {
  @include container;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 36px;
    padding-top: 13px;
    width: auto;
  }
}


.page-footer__copyright-text {
  font-family: $font-family;
  font-size: 19px;
  font-weight: 700;
  line-height: 20px;
  padding-right: 30px;
}


.page-footer__social {
  @include list-style-reset;
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-left: 80px;
    width: auto;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.page-footer__social-link--fb {
  padding: 0 40px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }
}

.page-footer__social-link--fb,
.page-footer__social-link--insta,
.page-footer__social-link--twitter {
  display: block;
  box-sizing: border-box;

  &:hover {
    fill: #46c1ae;
  }

  &:active,
  &:focus {
    opacity: 0.3;
    outline: none;
  }
}

.page-footer__social-link--insta,
.page-footer__social-link--twitter {
  padding-top: 5px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 8px;
  }
}

.page-footer__copyright-logo {
  fill: $accent-color;
  padding-top: 5px;

  &:hover,
  &:active,
  &:focus {
    fill: #46c1ae;
    outline: none;
  }

  &:active,
  &:focus {
    opacity: 0.3;
    outline: none;
  }
}

.page-footer__logo {
  display: none;

  &:hover {
    fill: #46c1ae;
  }

  &:active,
  &:focus {
    opacity: 0.3;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}
