.site-list {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  width: 100%;
  height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  background: $background-main;
}

.site-list__item a {
  display: block;
  padding-left: 76px;
  padding-top: 31px;
  padding-bottom: 31px;
  box-sizing: border-box;
  align-items: center;
  color: #000000;
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
    color: #000000;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list__item:nth-child(3),
.site-list__item:nth-child(4) {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    order: 2;
    width: 60%;
    justify-content: flex-start;
  }

  .site-list__item {
    height: 79px;
    box-shadow: none;
    background: $background-main;
  }

  .site-list__item a {
    display: block;
    padding-left: 0;
    padding-right: 36px;
    padding-top: 25px;
    font-size: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 1;
    width: 50%;
    flex-wrap: wrap;
  }

  .site-list__item {
    width: auto;
  }

  .site-list__item:nth-child(3),
  .site-list__item:nth-child(4) {
    display: block;
  }
}
