.underline{
  width: 100%;
  height: 6px;
  background-image: url("/img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
  z-index: 2;
}
