.user-list {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.user-list__item {
  width: 100%;
  height: 79px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  background: $background-main;
}

.user-list__item a {
  display: block;
  padding-left: 32px;
  padding-top: 31px;
  padding-bottom: 31px;
  box-sizing: border-box;
  align-items: center;
  color: #000000;
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
    color: #000000;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__img {
  padding-right: 25px;
  width: 18px;
  height: 19px;
}

@media (min-width: $tablet-width) {
  .user-list {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    order: 1;
  }

  .user-list__item {
    width: auto;
    height: 79px;
    box-shadow: none;
    background: $background-main;
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
  }

  .user-list__item a {
    display: block;
    padding-right: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
  }

  .user-list__item:nth-child(2) a {
    padding-right: 0;
  }

  .user-list__img {
    padding-right: 0;
  }

  .user-list__span-search {
    display: none;
  }

  .user-list__span-cart {
    padding-left: 25px;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    width: auto;
    order: 2;
    flex-grow: 1;
  }
}
