.weekly-product {
  @include container;
  background: $background-color;
}

.weekly-product__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.weekly-product__title {
  color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  font-family: $font-family;
  text-transform: uppercase;
}

.weekly-product__description {
  color: $text-color;
  font-weight: normal;
  font-size: 14px;
  font-family: $font-family;
  line-height: 24px;
}

.weekly-product__table {
  width: 100%;
  margin-top: 34px;
  color: $text-color;
  font-weight: normal;
  font-size: 14px;
  font-family: $font-family;
}

.weekly-product__table td {
  height: 39px;
  border-bottom: 1px solid #ececec;
}

.weekly-products__picture {
  margin-top: 26px;
}

.weekly-product__buy {
  margin-top: 28px;
  text-align: center;
}

.weekly-product__price {
  color: #444444;
  font-family: $font-family;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.weekly-product__order {
  width: 100%;
  margin-top: 28px;
}

.weekly-product::after {
  margin-top: 30px;
  content: "";
  width: 100%;
  display: block;
  height: 6px;
  background-image: url("/img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
  z-index: 2;
}

@media (min-width: $tablet-width) {
  .weekly-product {
    position: relative;
    height: 600px;
  }

  .weekly-product__name {
    font-size: 43px;
  }

  .weekly-product__description {
    font-size: 17px;
    line-height: 30px;
  }

  .weekly-product__buy {
    margin: 0;
  }

  .weekly-product__title-container {
    display: flex;
    justify-content: space-between;
  }

  .weekly-product__price {
    text-align: center;
    font-size: 20px;
  }

  .weekly-products__picture {
    position: absolute;
    right: 0;
    top: 105px;
  }

  .weekly-product__table {
    margin: 50px 0;
  }

  .weekly-product__details-container {
    display: flex;
    width: 45%;
    flex-direction: column;
  }

  .weekly-product::after {
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .weekly-product__title {
    width: 125px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    text-align: center;
  }

  .weekly-product__name {
    order: 2;
    flex-grow: 1;
    font-size: 53px;
  }

  .weekly-product__description {
    width: 282px;
    font-size: 17px;
  }

  .weekly-product__table {
    font-size: 15px;
  }

  .weekly-product__details-container {
    @include index-content-margins;
  }

  .weekly-products__picture {
    top: 0;
  }
}
