@mixin container {
  max-width: 320px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 668px;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1050px;
    width: 1050px;
  }
}

@mixin index-content-margins {
  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}

@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
