@mixin container {
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

@mixin index-content-margins {
  @media (min-width: $desktop-width) {
    margin-left: 175px;
  }
}

@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
