$background-color: #ffffff;
$accent-color:#63d1bb;
$text-color: #444444;
$active-color: #7c7c7c;
$font-family: "Open Sans","Arial",sans-serif;
$tablet-width: 768px;
$desktop-width: 1050px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
